In [2]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')

In [3]:
import pyspark

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('basics').getOrCreate()

In [18]:
df1 = spark.read.csv('ehact_2014.csv',header =True)
df2 = spark.read.csv('ehresp_2014.csv',header=True)

In [21]:
df1.show(10)

+--------------+------------+--------+------+--------+
|      tucaseid|tuactivity_n|eueatsum|euedur|euedur24|
+--------------+------------+--------+------+--------+
|20140101140007|           1|      -1|    -1|      -1|
|20140101140007|           2|      -1|    -1|      -1|
|20140101140007|           3|      -1|    -1|      -1|
|20140101140007|           4|      -1|    -1|      -1|
|20140101140007|           5|      -1|    -1|      -1|
|20140101140007|           6|      -1|    -1|      -1|
|20140101140007|           7|       1|     2|       2|
|20140101140007|           8|      -1|    -1|      -1|
|20140101140007|           9|      -1|    -1|      -1|
|20140101140007|          10|      -1|    -1|      -1|
+--------------+------------+--------+------+--------+
only showing top 10 rows

In [17]:
df1.columns

['tucaseid', 'tuactivity_n', 'eueatsum', 'euedur', 'euedur24']

In [19]:
df2.columns

['tucaseid',
 'tulineno',
 'eeincome1',
 'erbmi',
 'erhhch',
 'erincome',
 'erspemch',
 'ertpreat',
 'ertseat',
 'ethgt',
 'etwgt',
 'eudietsoda',
 'eudrink',
 'eueat',
 'euexercise',
 'euexfreq',
 'eufastfd',
 'eufastfdfrq',
 'euffyday',
 'eufdsit',
 'eufinlwgt',
 'eusnap',
 'eugenhth',
 'eugroshp',
 'euhgt',
 'euinclvl',
 'euincome2',
 'eumeat',
 'eumilk',
 'euprpmel',
 'eusoda',
 'eustores',
 'eustreason',
 'eutherm',
 'euwgt',
 'euwic',
 'exincome1']

In [23]:
df2.printSchema()

root
 |-- tucaseid: string (nullable = true)
 |-- tulineno: string (nullable = true)
 |-- eeincome1: string (nullable = true)
 |-- erbmi: string (nullable = true)
 |-- erhhch: string (nullable = true)
 |-- erincome: string (nullable = true)
 |-- erspemch: string (nullable = true)
 |-- ertpreat: string (nullable = true)
 |-- ertseat: string (nullable = true)
 |-- ethgt: string (nullable = true)
 |-- etwgt: string (nullable = true)
 |-- eudietsoda: string (nullable = true)
 |-- eudrink: string (nullable = true)
 |-- eueat: string (nullable = true)
 |-- euexercise: string (nullable = true)
 |-- euexfreq: string (nullable = true)
 |-- eufastfd: string (nullable = true)
 |-- eufastfdfrq: string (nullable = true)
 |-- euffyday: string (nullable = true)
 |-- eufdsit: string (nullable = true)
 |-- eufinlwgt: string (nullable = true)
 |-- eusnap: string (nullable = true)
 |-- eugenhth: string (nullable = true)
 |-- eugroshp: string (nullable = true)
 |-- euhgt: string (nullable = true)
 |-- euinclvl: string (nullable = true)
 |-- euincome2: string (nullable = true)
 |-- eumeat: string (nullable = true)
 |-- eumilk: string (nullable = true)
 |-- euprpmel: string (nullable = true)
 |-- eusoda: string (nullable = true)
 |-- eustores: string (nullable = true)
 |-- eustreason: string (nullable = true)
 |-- eutherm: string (nullable = true)
 |-- euwgt: string (nullable = true)
 |-- euwic: string (nullable = true)
 |-- exincome1: string (nullable = true)

In [24]:
from pyspark.sql.types import (StructField,StringType,IntegerType,StructType)

In [ ]:
data_schema = [StructField('age',IntegerType(),True),
              StructField('name',StringType(),True)]

final_struct = StructType(fields=data_schema)

In [1]:
import pandas as pd

In [9]:
columns = ['g']

In [8]:
l1 = [4,67,87]

In [12]:
df = pd.DataFrame(l1, columns = columns)

In [13]:
df.head()

    g
0   4
1  67
2  87

In [14]:
df['g']

0     4
1    67
2    87
Name: g, dtype: int64

In [17]:
(df.g >10).value_counts()

True     2
False    1
Name: g, dtype: int64

In [18]:
df.apply(lambda x: x+ 100 if x= 67 else 0)

     g
0  104
1  167
2  187