In [1]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')

In [2]:
import pyspark

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('basics').getOrCreate()

In [5]:
import pandas as pd

In [9]:
columns = ['g']

In [8]:
l1 = [4,67,87]

In [12]:
df = pd.DataFrame(l1, columns = columns)

In [13]:
df.head()

    g
0   4
1  67
2  87

In [14]:
df['g']

0     4
1    67
2    87
Name: g, dtype: int64

In [17]:
(df.g >10).value_counts()

True     2
False    1
Name: g, dtype: int64

In [18]:
df.apply(lambda x: x+ 100 if x= 67 else 0)

     g
0  104
1  167
2  187